---
import Icon from "@components/common/Icon.astro";
import VisitorCount from "@components/common/VisitorCount.astro";
import SharePoster from "@components/misc/SharePoster.svelte";
import { homeConfig } from "@/config/homeConfig";
import { siteConfig } from "@/config/siteConfig";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import { formatDateToYYYYMMDD } from "@/utils/date-utils";
import { getCategoryUrl, getTagUrl } from "@/utils/url-utils";

export interface Props {
	published: Date;
	updated?: Date;
	category?: string;
	tags?: string[];
	hideUpdateDate?: boolean;
	hideTagsForMobile?: boolean;
	isHome?: boolean;
	className?: string;
	id?: string;
	words?: number;
	minutes?: number;
	showTags?: boolean;
	customPath?: string;
	pinned?: boolean;
	password?: boolean;
	posterTitle?: string;
	posterDescription?: string;
	posterCoverUrl?: string;
	posterAvatarUrl?: string | null;
	posterUrl?: string;
}

const {
	published,
	updated,
	category,
	tags,
	hideUpdateDate,
	hideTagsForMobile,
	isHome,
	className = "",
	id,
	showTags = true,
	customPath,
	pinned,
	posterTitle,
	posterDescription,
	posterCoverUrl,
	posterAvatarUrl,
	posterUrl,
} = Astro.props;

const path = customPath || (id ? `/posts/${id}` : "");
---

<div
  class:list={[
    "post-meta-root flex flex-wrap text-neutral-500 dark:text-neutral-400 items-center gap-4 gap-x-4 gap-y-2",
    className,
  ]}
>
  <!-- pinned -->
  {
    pinned && (
      <div class="pinned-btn flex items-center gap-1 bg-(--btn-regular-bg) text-(--btn-content) rounded-md px-2 py-1.5 font-bold">
        <Icon name="material-symbols:pinboard" class="text-xl" />
        <span class="text-sm">{i18n(I18nKey.pinned)}</span>
      </div>
    )
  }

  <!-- publish date -->
  <div class="flex items-center">
    <div class="meta-icon">
      <Icon
        name="material-symbols:calendar-today-outline-rounded"
        class="text-xl"
      />
    </div>
    <span class="text-50 text-sm font-medium"
      >{formatDateToYYYYMMDD(published)}</span
    >
  </div>

  <!-- update date -->
  {
    !hideUpdateDate && updated && updated.getTime() !== published.getTime() && (
      <div class="flex items-center">
        <div class="meta-icon">
          <Icon
            name="material-symbols:edit-calendar-outline-rounded"
            class="text-xl"
          />
        </div>
        <span class="text-50 text-sm font-medium">
          {formatDateToYYYYMMDD(updated)}
        </span>
      </div>
    )
  }

  <!-- categories -->
  <div class="flex items-center">
    <div class="meta-icon">
      <Icon name="material-symbols:book-2-outline-rounded" class="text-xl" />
    </div>
    <div class="flex flex-row flex-nowrap items-center">
      <a
        href={getCategoryUrl(category || "")}
        aria-label={`View all posts in the ${category} category`}
        class="link-lg transition text-50 text-sm font-medium
                            hover:text-(--primary) dark:hover:text(--primary) whitespace-nowrap"
      >
        {category || i18n(I18nKey.uncategorized)}
      </a>
    </div>
  </div>

   <!-- tags -->
   {
     showTags && (
       <div class:list={["items-center", {"flex": !hideTagsForMobile, "hidden md:flex": hideTagsForMobile}]}>
         <div class="meta-icon">
           <Icon name="material-symbols:tag-rounded" class="text-xl" />
         </div>
         <div class="flex flex-row flex-nowrap items-center">
           {(tags && tags.length > 0) && tags.map((tag, i) => (
             <div class:list={[{"hidden": i == 0}, "mx-1.5 text-(--meta-divider) text-sm"]}>/</div>
             <a href={getTagUrl(tag)} aria-label={`View all posts with the ${tag.trim()} tag`}
                class="link-lg transition text-50 text-sm font-medium
                             hover:text-(--primary) dark:hover:text-(--primary) whitespace-nowrap">
               {tag.trim()}
             </a>
           ))}
           {!(tags && tags.length > 0) && <div class="transition text-50 text-sm font-medium">{i18n(I18nKey.noTags)}</div>}
         </div>
       </div>
     )
   }

  <!-- 访问量统计 -->
  <VisitorCount isHome={isHome} id={id} path={path} />

  <!-- 分享按钮 -->
  {!isHome && siteConfig.sharePoster && posterTitle && (
    <div class="flex items-center">
      <SharePoster
        client:only="svelte"
        title={posterTitle}
        author={homeConfig.name}
        description={posterDescription || posterTitle}
        pubDate={formatDateToYYYYMMDD(published)}
        coverImage={posterCoverUrl}
        url={posterUrl ?? ""}
        siteTitle={siteConfig.title}
        avatar={posterAvatarUrl}
      />
    </div>
  )}
</div>
