---
import Icon from "@components/common/Icon.astro";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import MainGridLayout from "@/layouts/MainGridLayout.astro";
import { url } from "@/utils/url-utils";
import "@/styles/pages/404.css";
---

<MainGridLayout title={i18n(I18nKey.notFound)} description={i18n(I18nKey.notFoundDescription)}>
	<div class="page-404 card-base">
		<div class="page-404__glow" aria-hidden="true"></div>

		<div class="page-404__content">
			<div class="page-404__code" aria-hidden="true">
				{i18n(I18nKey.notFound)}
			</div>

			<div class="page-404__icon">
				<Icon name="material-symbols:error-outline" class="page-404__icon-svg" />
			</div>

			<h1 class="page-404__title">
				{i18n(I18nKey.notFoundTitle)}
			</h1>

			<p class="page-404__desc">
				{i18n(I18nKey.notFoundDescription)}
			</p>

			<div class="page-404__actions">
				<a href={url("/")} class="page-404__btn page-404__btn--primary">
					<Icon name="material-symbols:home" class="page-404__btn-icon" />
					{i18n(I18nKey.backToHome)}
				</a>
				<a href={url("/archive/")} class="page-404__btn page-404__btn--ghost">
					<Icon name="material-symbols:history" class="page-404__btn-icon" />
					{i18n(I18nKey.archive)}
				</a>
			</div>
		</div>

		<div class="page-404__decor page-404__decor--tl" aria-hidden="true">
			<Icon name="material-symbols:sentiment-sad" class="page-404__decor-icon" />
		</div>
		<div class="page-404__decor page-404__decor--br" aria-hidden="true">
			<Icon name="material-symbols:search-off" class="page-404__decor-icon" />
		</div>
	</div>
</MainGridLayout>
